---
import { getCollection, getEntry, render } from 'astro:content';
import Layout from '~/layouts/PageLayout.astro';
// import HeroText from '~/components/widgets/HeroText.astro';

export async function getStaticPaths() {
  const advisorsMinutes = await getCollection('advisors_minutes');
  const groupMinutes = await getCollection('group_minutes');

  return [
    ...advisorsMinutes.map((minute) => ({
      params: { slug: `advisors_minutes/${minute.id}` },
    })),
    ...groupMinutes.map((minute) => ({
      params: { slug: `group_minutes/${minute.id}` },
    })),
  ];
}

const { slug } = Astro.params;  

const [category, minuteId] = slug.split('/') as ['advisors_minutes' | 'group_minutes', string];

const minute = await getEntry(category, minuteId);  

const groupMinutes = await getCollection('group_minutes');
const advisorsMinutes = await getCollection('advisors_minutes');


if (!minute) {
  throw new Error(`No such minute yet: ${slug}`);
}

const { Content } = await render(minute);  // Renderiza o conteúdo do minuto

---

<Layout>
  <div class="flex max-w-5xl mx-auto mt-6 p-4 bg-muted/80 dark:bg-muted/90 rounded-xl transition-all">
    <!-- Sidebar -->
    <aside class="w-1/55 p-4 border-r border-gray-300 dark:border-gray-700">
      <h2 class="text-lg text-green1 font-bold mb-4">Supevisors Minutes</h2>
      <ul>
        {advisorsMinutes.slice().reverse().map((min) => (
          <li class="mb-2">
            <a href={`/minutes/advisors_minutes/${min.id}`} class="dark:text-customGreen3 hover:underline">
              {min.data.title}
            </a>
          </li>
        ))}
      </ul>
      <h2 class="text-lg text-green1 font-bold mt-4 mb-4">Team Minutes</h2>
      <ul>
      {groupMinutes.length > 0 ? (
        groupMinutes.slice().reverse().map((min) => (
          <li class="mb-2">
            <a href={`/minutes/group_minutes/${min.id}`} class="dark:text-customGreen3 hover:underline">
              {min.data.title}
            </a>
          </li>

        ))
          ) : (
        <p class="col-span-full text-center text-gray-500">No team minutes available.</p>
          )}
          </ul>



    </aside>

    <!-- Main Content -->
    <section class="w-3/4 px-4">
      <div
        class="mx-auto px-4 sm:px-4 max-w-2xl prose prose-sm lg:prose-md dark:prose-invert dark:prose-headings:text-slate-300 prose-headings:font-heading prose-headings:leading-tight prose-headings:tracking-tight prose-headings:font-bold prose-a:text-primary dark:prose-a:text-blue-400 prose-img:rounded-md prose-img:shadow-lg mt-6 prose-headings:scroll-mt-[60px] prose-li:my-0"
      >
        <Content />
      </div>
    </section>
  </div>
</Layout>